
        body {
            font-family: Arial, sans-serif;
            background-color: #e6f0f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .calculator-container {
            display: flex;
            background: #fff;
            border-radius: 20px 10px 10px 30px ;
            box-shadow: 10px 4px 8px yellow;
            overflow: hidden;
            max-width: 700px;
        }
        .form-section {
            padding: 20px;
            width: 50%;
        }
        .result-section {
            background: #10232d;
            color: white;
            padding: 20px;
            width: 50%;
            border-radius: 20px 10px 10px 30px ;
            box-shadow: 10px 4px 8px yellow;
            margin-top: 10p 20px 30px 10px yellow;

        }
        h2 {
            margin-bottom: 15px;
        }
        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
           
        }
        .button {
            background: #ffde59;
            border: none;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 20px 10px 10px 30px;
            box-shadow: blue;
        }
        .results {
            margin-top: 20px yellow;
            padding: 100px;
            border-radius: 5px;
        }
        .highlight {
            font-size: 24px;
            font-weight: bold;
            color: #ffde59;
        }
